.container {
}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 56px;
    margin-top: 48px;
}

.user {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.userImageContainer {
    width: 50px;
    height: 50px;
    position: relative;
}

.userTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #141414;
}

.userName {
    font-size: 18px;
    font-weight: 500;
}

.content {
    display: flex;
    gap: 50px;
}

.post {
    font-size: 24px;
    margin-top: 48px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center; 
}

@media screen and (max-width: 640px) {
    
    .title {
        font-size: 48px;
        margin-top: 32px;
    }

    .post {
        font-size: 16px;
        margin-top: 32px;
    }

    .userName {
        font-size: 16px;
    }

    .date {
        font-size: 14px;
    }
}