.container {
    color: var(--softTextColor);
    margin-top: auto;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.topSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.year {
    font-size: 16px;
    font-weight: 400;
}

.logoText {
    font-size: 18px;
}

.desc {
    font-weight: 600;
    font-size: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 300;
    align-self: flex-end;
}

.listItem {
    font-weight: 300;
}

.listTitle {
    font-weight: 500;
    font-size: 16px;
}

.footerBottom {
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.socialIcons {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .links {
        gap: 50px;
    }
}

@media screen and (max-width: 640px) {
    .links {
        font-size: 12px;
    }

    .desc {
        font-weight: 600;
        font-size: 12px;
    }

    .year {
        font-size: 12px;
    }

    .footerBottom {
        font-size: 13px;
    }

    .list {
        display: none;
    }
}