.button {
    background: linear-gradient(to right, #374a9b, #02c0fc);
    border-radius: 8px;
    border: none;
    color: #fcf9f9;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.2s ease;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.button:hover {
    transform: scale(1.05);
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
