.container {
    padding: 32px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 32px 0;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.headerText {
    font-size: 24px;
    font-weight: bold;
}

.button {
    background: linear-gradient(to right, #374a9b, #02c0fc);
    border-radius: 8px;
    border: none;
    color: #fcf9f9;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
}


.headerContainer {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr); 
        padding: 24px 0;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); 
        padding: 16px 0;
        gap: 16px;
    }

    .button {
        font-size: 12px;
        padding: 12px 24px;
    }

    .headerText {
        font-size: 20px;
    }

    .headerContainer {
        align-self: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 355px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .button {
        padding: 10px 20px;
    }

    .headerText {
        font-size: 18px;
    }

    .headerContainer {
        align-self: center;
        align-items: center;
    }


}
